<html>
<body>

<p>Click on the relevant certificate to download<p>

<a href="../pdf_certificates/birth.pdf" download="Birth_Certificate">
  <img border="0" src="/pdf_certificates/birth_app.jpg" alt = "Download Birth Certificate Application Form" width = "200" height="50">
</a>
<br>
<br>
<a href="../pdf_certificates/death.pdf" download="Death_Certificate">
  <img border="0" src="/pdf_certificates/death_app.jpg" alt = "Download Death Certificate Application Form" width = "200" height="50">
</a>
<br>
<a href="../pdf_certificates/marriage.pdf" download="Marriage_Certificate">
  <img border="0" src="/pdf_certificates/marriage_app.jpg" alt = "Download Marriage Certificate Application Form" width = "200" height="50">
</a>
<br>
<a href="../pdf_certificates/divorce.pdf" download="Divorce_Certificate">
  <img border="0" src="/pdf_certificates/divorce_app.jpg" alt = "Download Divorce Certificate Application Form" width = "200" height="50">
</a>
<br>
<a href="../pdf_certificates/funeral.pdf" download="Funeral_Certificate">
  <img border="0" src="/pdf_certificates/funeral_app.jpg" alt = "Download Funeral Certificate Application Form" width = "200" height="50">
</a>
<br>
</body>
</html>
