<div id= "box2">
<h2>Who we are</h2>
<p>We're an agency of the Department of Justice NSW and we
    administer the Births, Deaths and Marriages Registration Act,
    1995 and the Commonwealth Marriage Act, 1961.</p>
<h2>Our Role</h2>
<p>To register NSW life events accurately and securely for all time, ensuring
    their integrity and confidentiality. This includes the registration of
    births, deaths and marriages and official changes of name and sex.</p>
<p>We meet the varied and valid needs of our customers by providing a range
    of certificates, products and information services that help establish a
    range of legal entitlements.</p>
<p>We also provide data for planning and research to the Australian
    Institute of Health and Welfare (AIHW) and the Australian Bureau of
    Statistics (ABS).</p>
<h2>Our Purpose - Our Future </h2>
<p>The Registry touches the lives of customers who have experienced a
    life event in NSW. We are proud to deliver these essential public
    services and of our work in protecting the integrity of the
    registers, and security of the personal data we hold. Supporting law
    enforcement, we are a trusted service.</p>
</div>
